<footer>
  <div>
  Copyright &copy; 2019-2020.<a href="/"><%-config.title%></a><br>Powered by <a href="https://hexo.io" target="_blank">Hexo</a> | Theme <a href="https://arnoluo.github.io" target="_blank">NI</a><br><%-theme.footer%>
  </div>
</footer>